<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/completeLogo.png" height="40" class="mr-2">
  </ng-template>
  <ng-template pTemplate="end">
    <button pButton pRipple type="button" icon="pi pi-sign-out" class="p-button-rounded p-button-text p-button-danger"
      (click)="logOut()">
    </button>
  </ng-template>
</p-menubar>
