#wrapper {
  position: relative;
}
#over-map {
  position: absolute;
  top: 6rem;
  left: 2rem;
  z-index: 99;
}

#info-over-map {
  position: absolute;
  top: 6rem;
  right: 2rem;
  z-index: 99;
}

.map {
  position: absolute;
  height: 100%;
  width: 99%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in;
  -webkit-transition: opacity 150ms ease-in;
  -moz-transition: opacity 150ms ease-in;
  -ms-transition: opacity 150ms ease-in;
  -o-transition: opacity 150ms ease-in;
}

.map.visible {
  opacity: 1;
}
