<div class="surface-ground flex align-items-center justify-content-center min-h-screen m-1">
  <div #map class="map"></div>
  <div id="over-map">
    <p-dropdown appendTo="body" [options]="vehicles" dropdownIcon="add" optionLabel="VehicleID" [filter]="true"
      filterBy="VehicleID" [showClear]="true" placeholder="Select vehicle" autoWidth="false"
      [style]="{'minWidth':'300px', 'width': '300px'}" (onChange)="selectVehicle($event)">
      <ng-template let-selectedOption pTemplate="selectedItem">
        <div class="option-item option-item-value">
          <div [innerHTML]="selectedOption.VehicleID"></div>
        </div>
      </ng-template>
      <ng-template let-vehicles pTemplate="item">
        <div>
          <div>{{vehicles.VehicleID}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>

</div>
