<div class="surface-ground flex align-items-center justify-content-center min-h-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div class="login-card">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <img src="assets/completeLogo.png" alt="Image" height="50" class="mb-3">
          <div class="text-900 text-3xl font-medium mb-3">Welcome!</div>
          <span class="text-600 font-medium">Sign in to continue</span>
        </div>
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</div>
