<p-toast key="global" [position]="toastService.toast.posicion" [baseZIndex]="toastService.toast.index"
  responsive="true">
</p-toast>
<p-confirmDialog key="logOut" #cd [closable]="false" [baseZIndex]="999991">
  <ng-template pTemplate="footer">
    <div class="ion-text-end">
      <button pButton label="Cancel" (click)="cd.reject()" class="p-button-danger"></button>
      <button pButton label="Yes" (click)="cd.accept()" class="p-color-primary"></button>
    </div>
  </ng-template>
</p-confirmDialog>
<router-outlet></router-outlet>
