<div class="surface-ground flex align-items-center justify-content-center min-h-screen m-1">
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      style="border-radius:15px; padding:0.3rem; background: linear-gradient(180deg, rgba(33, 150, 243, 0.4) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-5 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:15px">
        <span class="text-blue-500 font-bold text-3xl">Bienvenido {{ this.user.getName }}</span>
        <p class="text-900 text-xl lg:text-xl mb-0">Rol de usuario:</p>
        <p class="text-600 mb-0">{{ this.user.getRole }}</p>
        <p class="text-900 mb-0">Email:</p>
        <p class="text-600 mb-2">{{ this.user.getEmail }}</p>

        <div *ngIf="this.user.getRole">
          {{ this.text[this.user.getRole]['en']['err']['permissions']}}
        </div>
      </div>


    </div>
  </div>
</div>
