<form [formGroup]="form" (ngSubmit)="onSubmitLoggin()">
  <div class="mb-3">

    <label for="email" class="block text-900 text-l font-medium mb-2">Email</label>
    <input id="email" pInputText type="text" formControlName="email" placeholder="Email address" style="padding:1rem"
      class="w-full md:w-30rem mb-5" />

    <label for="password" class="block text-900 text-l font-medium mb-2">password</label>
    <p-password id="password1" formControlName="password" placeholder="Password" [toggleMask]="true" styleClass="mb-5"
      inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false"></p-password>

  </div>
  <div>
    <button pButton pRipple [disabled]="loading" label="Login" type="submit" class="w-full p-3 text-xl"></button>
  </div>
</form>
